@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  .snap-smooth {
    scroll-behavior: smooth;
  }
  .snap-px-4 {
    scroll-padding-left: 1rem;
    scroll-padding-right: 1rem;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  font-variant-ligatures: none;
}

html {
  scroll-padding-top: 10rem;
}

model-viewer::part(default-progress-mask) {
  display: none;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

.gradient {
  background: linear-gradient(
    310deg,
    rgba(255, 97, 0, 1),
    white,
    rgba(0, 197, 185, 1)
  );
  background-size: 600% 600%;
  animation: gradient-animation 14s ease infinite;

  /* prettier-ignore */
  clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
}

@keyframes gradient-animation {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}

.embla {
  position: relative;
  width: 350px;
  /* height: 800px; */
  max-height: max-content;
  /* max-width:max-content; */
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: -125px;
  height: 600px;
}

.embla__container__carousel {
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: -105px;
  /* height: 200px; */
  height: 300px;
}

.embla__slide {
  position: relative;
  height: 100%;
  padding-top: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.embla__slide__img {
  position: absolute;
  display: block;
  object-fit: cover;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

.embla--thumb {
  padding-top: 0;
  position: absolute;
  top: 0;
  /* left:180px; */
  left: 50%;
  width: 75px;
  margin-left: -240px;
  margin-right: auto;
}

.embla__container--thumb {
  cursor: default;
  display: flex;
  flex-direction: column;
  width: 80%;
  /* height:500px; */
}

.embla__slide--thumb {
  min-width: 100%;
}

.embla__slide__inner--thumb {
  touch-action: manipulation;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  position: relative;
  display: block;
  overflow: hidden;
}

.embla__slide__thumbnail {
  position: absolute;
  opacity: 0.2;
  top: 0;
  bottom: 0;
  left: -10000%;
  right: -10000%;
  margin: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  transform: scale(0.1);
  transition: opacity 0.2s;
}

.embla__slide--thumb.is-selected .embla__slide__thumbnail {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .embla{
    max-width: max-content;
  }
  .embla--thumb {
    display: none;
  }
}

.outer_container {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
}

.embla__progress {
  position: absolute;
  top: 8px;
  right: -60px;
  background-color:#d1d5db;
  margin-top: 40px;
  max-width: 270px;
  width: 100px;
  height: 4px;
  overflow: hidden;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(90deg);
}

.embla__progress__bar {
  position: absolute;
  background-color: #1bcacd;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}
